/LQ-CLIENT-UTIL/build/*
/LQ-CLIENT-FW/build/*
/LQ-CLIENT-SAMPLE/build/*
/LQ-CLIENT-APP/build/*
/LQ-CLIENT-FX/build/*
/LQ-Entity/build/*
*/*.class
/LQ-ENTITY/build/
.nb-gradle/*
.gradle/*
*.lock
*.bin
*.jar
*.log
LQ-CLIENT-APP/log/*
.gradle/2.10/taskArtifacts/taskArtifacts.bin
