/LQ-CLIENT-UTIL/build/*
/LQ-CLIENT-FW/build/*
/LQ-CLIENT-SAMPLE/build/*
/LQ-CLIENT-APP/build/*
/LQ-CLIENT-FX/build/*
/LQ-Entity/build/*
*/*.class
/LQ-ENTITY/build/*
.nb-gradle/*
.gradle/*
*.lock
*.bin
*.jar
*.log
LQ-CLIENT-APP/log/*
LQ-CLIENT-APP/log/*.log
.gradle/*.bin
*/*.lock
/LQ-ENTITY - 副本/build/
/LQ-CLIENT-CUSTOM-FX/build/
.nb-gradle/private/cache/*
.nb-gradle/profiles/private/*
.gradle/2.10/taskArtifacts/*.*.*
.gradle/2.10/taskArtifacts/cache.properties.lock
.gradle/2.10/taskArtifacts/fileHashes.bin
.gradle/2.10/taskArtifacts/fileHashes.bin
.gradle/2.10/taskArtifacts/fileSnapshots.bin
.gradle/2.10/taskArtifacts/outputFileStates.bin
.gradle/2.10/taskArtifacts/taskArtifacts.bin
