<?xml version="1.0" encoding="UTF-8"?>
 
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:cache="http://www.springframework.org/schema/cache"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
            http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
            http://www.springframework.org/schema/context  
            http://www.springframework.org/schema/context/spring-context-3.1.xsd 
            http://www.springframework.org/schema/cache  
            http://www.springframework.org/schema/cache/spring-cache-3.2.xsd
            http://activemq.apache.org/schema/core
            http://activemq.apache.org/schema/core/activemq-core-5.9.0.xsd">
    <context:component-scan base-package="com.leqi.client" />
    <bean id="SentenceRootController" class="com.leqi.client.book.content.uf.ContentController">      
       
    </bean>
      <bean id="SentenceRootModel" class="com.leqi.client.book.content.uf.ContentModel">      
        <property name="fxmlController"  ref="SentenceRootController"/>
         <property name="firstModel"  value="SentenceModel"/>
    </bean>
    
    
     <bean id="BookRootController" class="com.leqi.client.book.content.uf.ContentController">      
       
    </bean>
      <bean id="BookRootModel" class="com.leqi.client.book.content.uf.ContentModel">      
        <property name="fxmlController"  ref="BookRootController"/>
         <property name="firstModel"  value="BookModel"/>
    </bean>
    
     
     <bean id="WordRootPaneController" class="com.leqi.client.book.content.uf.ContentController">      
       
    </bean>
      <bean id="WordRootPaneModel" class="com.leqi.client.book.content.uf.ContentModel">      
        <property name="fxmlController"  ref="WordRootPaneController"/>
         <property name="firstModel"  value="WordModel"/>
    </bean>
    
    
     <bean id="ShortWordRootController" class="com.leqi.client.book.content.uf.ContentController">      
       
    </bean>
      <bean id="ShortWordRootModel" class="com.leqi.client.book.content.uf.ContentModel">      
        <property name="fxmlController"  ref="ShortWordRootController"/>
         <property name="firstModel"  value="ShortWordModel"/>
    </bean>
</beans>
